* {
  box-sizing: border-box;
  padding: 40;
  margin: 40;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #31343d;
  color: #31343d;
  height: 65px;
}

main {
  flex-direction: row;
  align-items: flex-end;
}

article {
  margin-top: 50px;
  margin-left: 20px;
  display: block;
  text-align: left;
}
aside {
margin-top:-80px;
 color: #455876;
  margin-left: 0px;
  padding: 0px;
  clear: both;
  float: left;
  width: 20%;
  height: 60%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  font-size: 200%;
  text-align: end;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

nav ul {
  display:flex;
  justify-content: space-around;
  min-width: 300px;
}

nav a {
  color: #92CCCD;
  text-decoration: underline; text-decoration-thickness: 3px;
  display: block;
  padding: 0.5em;
}

nav a:hover {
  color: #fff;
}

a {
  color: #91cdcb;
  text-decoration: none;
}

content {
  width: 40%;
  display: inline-block;
  margin-left: 0px;
}

content img { 
  opacity: 0.5; 
  border: 5px solid #92CCCD;
} 

content img:hover { 
  opacity: 1; 
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 69px;
  background-color: #d7d7e0;
  color: #31343d;
  height: 97px;
}

.paragraph {
  display: inline-block;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 14px;
  color: rgb(88, 82, 82);
  margin-left: -100px;
  text-align: left;
  top: 100px;
  margin-top: -38px;
}

.background1 img {
  height: 180px;
  width: 100%;
}

.colorblock {
  background-color: #92CCCD;
  height: 50px;
  width: 230px;
}

.colorblock2 {
  border-right: 205px solid #92CCCD;
  height: 44px;
  position: absolute;
  right: 24%;
  margin-left: 9px;
  top: 188px;
}

.subtitle {
  margin-bottom:20px;
  margin-top: -12px;
  color: #31343d;
  text-align: right;
  margin-right: -193px;
  font-size:150%;
}

.content {
  width: 100%;
  display: inline-block;
  margin-left: 49px;
}

.aboutme {
  padding: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #d7d7e0;
  color: #31343d;
  margin-bottom:-358px;
  font-size: 36px;
}

.row {
  display:flex;
  margin-left: -61px;
  margin-right: 247px;
}

.column {
  flex:100%;
  padding: 0px;
  margin-top: 12px;
  margin-left:-60px;
  margin-bottom:10px;
}

.v1 {
  border-left: 4px solid #455876;
  height: 144px;
  position: right;
  left: 15%;
  margin-left: -3px;
  top: 262px;
}

.v2 {
  border-left: 4px solid #455876;
  position: right;
  left: 15%;
  margin-left: 178px;
  top: 200px;
}
.work {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #d7d7e0;
  color: #31343d;
  margin-bottom: 145px;
  font-size: 36px;
}

footer h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #d7d7e0;
  color: #31343d;
  margin-bottom:22px;
  font-size: 36px;
}
footer ul {
  display:flex;
  justify-content: space-between;
  min-width: 300px;
  margin-left: -71px;
}

footer a {
  color: #31343d;
  text-decoration: underline; text-decoration-thickness: 3px;
  display: block;
  padding: 5em;
}

footer a:hover {
  color: #fff;
}

body {
  background-color: #d7d7e0;
  width: 1500px;
}

.verticalline {
  border-left: 3px solid #31343d;
  height: 500px;
}

.colorblock3 {
  border-right: 139px solid #92CCCD;
  height: 70px;
  position: absolute;
  right: 80%;
  margin-top: -43px;
  margin-left: 0px;
  top: 834px;
}

.colorblock4 {
  border-right: 116px solid #92CCCD;
    height: 70px;
    position: absolute;
    right: 81%;
    margin-top: 141px;
    margin-left: 0px;
    top: 834px;
}


.colorblock5 {
  border-right: 128px solid #92CCCD;
    height: 70px;
    position: absolute;
    right: 63%;
    margin-top: 141px;
    margin-left: 0px;
    top: 834px;
}

.colorblock6 {
  border-right: 116px solid #92CCCD;
    height: 70px;
    position: absolute;
    right: 81%;
    margin-top: 344px;
    margin-left: 0px;
    top: 834px;
}
.colorblock7 {
  border-right: 128px solid #92CCCD;
    height: 70px;
    position: absolute;
    right: 63%;
    margin-top: 344px;
    margin-left: 0px;
    top: 834px;
}















