* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: ;
}

body {
  background-color: #d7d7e0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #31343d;
  color: #31343d;
  height: 65px;
}

main {
  flex-direction: row;
  align-items: flex-end;
}

aside {
 color: #455876;
  margin-left: 20px;
  padding: 20px;
  clear: both;
  float: left;
  width: 20%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


h1 {
  font-size: 200%;
  text-align: end;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

nav ul {
  display:flex;
  justify-content: space-around;
  min-width: 300px;
}

nav a {
  color: #92CCCD;
  text-decoration: underline; text-decoration-thickness: 3px;
  display: block;
  padding: 0.5em;
}

nav a:hover {
  color: #fff;
}

a {
  color: #91cdcb;
  text-decoration: none;
}

.paragraph{
  display: inline;
  position: left;
  left: 20px;
  top: 50px;
  margin-left: 15px;
}

.paragraph pre {
  display: block;
  font-family: sans-serif;
  font-size: 12px;
  color: rgb(88, 82, 82);
  margin-left: 50px;
  text-align: left;
}

.background1 img {
  height: 180px;
  width: 100%;
}

.colorblock {
  background-color: #92CCCD;
  height: 50px;
  width: 230px;
}

.colorblock2 {
  border-right: 205px solid #92CCCD;
  height: 44px;
  position: absolute;
  right: 4%;
  margin-left: 9px;
  top: 188px;
}

.subtitle {
  margin-bottom:20px;
  margin-top: -12px;
  color: #31343d;
  text-align: right;
  margin-right: -193px;
  font-size:150%;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

.benefit-lead {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-brand {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-cost {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-lead h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-brand h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-lead img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.benefit-brand img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.aboutme {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #d7d7e0;
  color: #31343d;
  margin-bottom:-358px;
  font-size: 36px;
  text-align: right;
}

.online-reputation-management {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.search-engine-optimization img {
  max-height: 200px;
}

.online-reputation-management img {
  max-height: 200px;
}

.social-media-marketing img {
  max-height: 200px;
}

.search-engine-optimization h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.online-reputation-management h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}

.row {
  display:flex;
}

.column {
  flex:50%;
  padding: 10px;
}

content {
  width: 50%;
  display: inline-block;
  margin-left: 500px;
}

content img { 
  opacity: 0.5; 
  border: 5px solid #92CCCD;
} 

content img:hover { 
  opacity: 1; 
}

.v1 {
  border-left: 6px solid #455876;
  height: 200px;
  position: absolute;
  left: 15%;
  margin-left: -3px;
  top: 262px;
}

.v2 {
  border-left: 6px solid #455876;
  height: 200px;
  position: absolute;
  left: 15%;
  margin-left: -3px;
  top: 520px;
}

.work {
  margin-bottom: 20px;
  padding: 35px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #d7d7e0;
  color: #31343d;
  margin-bottom:58px;
  font-size: 36px;
  text-align: right;
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

footer ul {
  display:flex;
  justify-content: space-around;
  min-width: 300px;
}

footer a {
  color: #92CCCD;
  text-decoration: underline; text-decoration-thickness: 3px;
  display: block;
  padding: 0.5em;
}

footer a:hover {
  color: #fff;
}